In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('result/content/2021-03-02_00-09-38.csv')
df2 = pd.read_csv('result/content/2021-03-05_00-20-11.csv')
df3 = pd.read_csv('result/content/2021-03-05_10-12-50.csv')
df4 = pd.read_csv('result/content/2021-03-05_11-17-00.csv')
df5 = pd.read_csv('result/content/2021-03-05_11-56-42.csv')
df6 = pd.read_csv('result/content/2021-03-05_12-17-42.csv')
df7 = pd.read_csv('result/content/2021-03-05_15-52-03.csv')
df8 = pd.read_csv('result/content/2021-03-05_16-14-42.csv')
df9 = pd.read_csv('result/content/2021-03-05_16-59-25.csv')

In [3]:
df = pd.DataFrame(columns=['title', 'user id',
                               'ratings', 'author', 'category','comment','publisher','price', 'translator'])

In [4]:
df_list = [df1,df2,df3,df4,df5,df6,df7,df8,df9]

In [5]:
df

Empty DataFrame
Columns: [title, user id, ratings, author, category, comment, publisher, price, translator]
Index: []

In [6]:
for data in df_list:
    df = pd.concat([df,data])

In [7]:
df.shape

(11163, 9)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11163 entries, 0 to 1321
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       11163 non-null  object
 1   user id     11163 non-null  object
 2   ratings     11163 non-null  object
 3   author      8212 non-null   object
 4   category    11163 non-null  object
 5   comment     11163 non-null  object
 6   publisher   8212 non-null   object
 7   price       8212 non-null   object
 8   translator  3525 non-null   object
dtypes: object(9)
memory usage: 872.1+ KB

In [9]:
df.isnull().sum()

title            0
user id          0
ratings          0
author        2951
category         0
comment          0
publisher     2951
price         2951
translator    7638
dtype: int64

In [10]:
ridiuser_df = df[['user id','title','ratings']]

In [11]:
ridiuser_df

     user id       title ratings
0     tls***       돈의 속성       5
1     tms***       돈의 속성       5
2     mja***       돈의 속성       5
3     cha***       돈의 속성       4
4     hya***       돈의 속성       4
...      ...         ...     ...
1317  mai***       미친 연애       1
1318  qzw***       미친 연애       1
1319  nam***       미친 연애       4
1320  v25***       미친 연애       5
1321  fas***  분노 유발의 심리학       4

[11163 rows x 3 columns]

# 유저의 평가 매트릭스

In [12]:
df

,title,user id,ratings,author,category,comment,publisher,price,translator
0,돈의 속성,tls***,5,NaN,경영/경제 경영일반,부자들의 책들을 봤을때 항상 느꼈지만 돈 버는 기술보다 삶의 대한 태도가 남다르다....,NaN,NaN,NaN
1,돈의 속성,tms***,5,NaN,경영/경제 경영일반,깔끔하면서 유익한 책입니다글도 일관된 주제로 쓰여졌고 이해하기도 쉽고전반적으로 저한...,NaN,NaN,NaN
2,돈의 속성,mja***,5,NaN,경영/경제 경영일반,지금에 저에게꼭 필요한 말씀만 해주신것같아감사합니다.,NaN,NaN,NaN
3,돈의 속성,cha***,4,NaN,경영/경제 경영일반,읽기편하게 잘정리된 책입니다.주위사람에게 권하고 싶네요 일부 에피소드가과장된 측면이...,NaN,NaN,NaN
4,돈의 속성,hya***,4,NaN,경영/경제 경영일반,삶을 사는게 필요한 기본 철학이 담긴 책입니다.돈벌고 싶어 욕망이 눈이 먼사람들겐 ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1317,미친 연애,mai***,1,최정,자기계발 인간관계,연애도 하나의 인간관계입니다. 이 책을 통해서 남자의 생각이 아니라 부분 적인 쓰레...,좋은날들 출판,12800,NaN
1318,미친 연애,qzw***,1,최정,자기계발 인간관계,전혀도움안되요...,좋은날들 출판,12800,NaN
1319,미친 연애,nam***,4,최정,자기계발 인간관계,연애관련된 책중에서는 가장 괜찮다고 생각합니다너무 터무니 없는 소리도 없고 현실적인...,좋은날들 출판,12800,NaN
1320,미친 연애,v25***,5,최정,자기계발 인간관계,블로그따라 책구매하러 왔어요~ㅋㅋㅋㅋㅋ최정 진짜 미친연애!!!!!,좋은날들 출판,12800,NaN
1321,분노 유발의 심리학,fas***,4,클라우디아 호흐브룬,"인문/사회/역사 인문 , 자기계발 인간관계",단호하고 간결해서 좋다. 다른 책처럼 가능성을 언급하며 이리저리 꼬지 않고 직설적으...,생각의날개 출판,14500,이영채 그림

## user id label encoding

In [13]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(df['user id'])
labels = encoder.transform(df['user id'])
print(labels)

[2578 2581 1761 ... 1858 2664  721]

## ridi user id label

In [14]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(ridiuser_df['user id'])
ridiuser_df['user id'] = encoder.transform(ridiuser_df['user id'])

In [15]:
ridiuser_df

      user id       title ratings
0        2578       돈의 속성       5
1        2581       돈의 속성       5
2        1761       돈의 속성       5
3         354       돈의 속성       4
4        1038       돈의 속성       4
...       ...         ...     ...
1317     1697       미친 연애       1
1318     2162       미친 연애       1
1319     1858       미친 연애       4
1320     2664       미친 연애       5
1321      721  분노 유발의 심리학       4

[11163 rows x 3 columns]

### 단점 : 다른 유저라도 앞의 3 글자만 같으면 동일하게 취급된다.
user12453 = useAA11

In [16]:
df.drop(axis=1, labels = ['user id'])
df['user id'] = labels

In [17]:
df

,title,user id,ratings,author,category,comment,publisher,price,translator
0,돈의 속성,2578,5,NaN,경영/경제 경영일반,부자들의 책들을 봤을때 항상 느꼈지만 돈 버는 기술보다 삶의 대한 태도가 남다르다....,NaN,NaN,NaN
1,돈의 속성,2581,5,NaN,경영/경제 경영일반,깔끔하면서 유익한 책입니다글도 일관된 주제로 쓰여졌고 이해하기도 쉽고전반적으로 저한...,NaN,NaN,NaN
2,돈의 속성,1761,5,NaN,경영/경제 경영일반,지금에 저에게꼭 필요한 말씀만 해주신것같아감사합니다.,NaN,NaN,NaN
3,돈의 속성,354,4,NaN,경영/경제 경영일반,읽기편하게 잘정리된 책입니다.주위사람에게 권하고 싶네요 일부 에피소드가과장된 측면이...,NaN,NaN,NaN
4,돈의 속성,1038,4,NaN,경영/경제 경영일반,삶을 사는게 필요한 기본 철학이 담긴 책입니다.돈벌고 싶어 욕망이 눈이 먼사람들겐 ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1317,미친 연애,1697,1,최정,자기계발 인간관계,연애도 하나의 인간관계입니다. 이 책을 통해서 남자의 생각이 아니라 부분 적인 쓰레...,좋은날들 출판,12800,NaN
1318,미친 연애,2162,1,최정,자기계발 인간관계,전혀도움안되요...,좋은날들 출판,12800,NaN
1319,미친 연애,1858,4,최정,자기계발 인간관계,연애관련된 책중에서는 가장 괜찮다고 생각합니다너무 터무니 없는 소리도 없고 현실적인...,좋은날들 출판,12800,NaN
1320,미친 연애,2664,5,최정,자기계발 인간관계,블로그따라 책구매하러 왔어요~ㅋㅋㅋㅋㅋ최정 진짜 미친연애!!!!!,좋은날들 출판,12800,NaN
1321,분노 유발의 심리학,721,4,클라우디아 호흐브룬,"인문/사회/역사 인문 , 자기계발 인간관계",단호하고 간결해서 좋다. 다른 책처럼 가능성을 언급하며 이리저리 꼬지 않고 직설적으...,생각의날개 출판,14500,이영채 그림

In [18]:
user_df = df.drop(axis= 1, labels = ['category','author','comment'])

In [19]:
user_df

           title  user id ratings publisher  price translator
0          돈의 속성     2578       5       NaN    NaN        NaN
1          돈의 속성     2581       5       NaN    NaN        NaN
2          돈의 속성     1761       5       NaN    NaN        NaN
3          돈의 속성      354       4       NaN    NaN        NaN
4          돈의 속성     1038       4       NaN    NaN        NaN
...          ...      ...     ...       ...    ...        ...
1317       미친 연애     1697       1   좋은날들 출판  12800        NaN
1318       미친 연애     2162       1   좋은날들 출판  12800        NaN
1319       미친 연애     1858       4   좋은날들 출판  12800        NaN
1320       미친 연애     2664       5   좋은날들 출판  12800        NaN
1321  분노 유발의 심리학      721       4  생각의날개 출판  14500     이영채 그림

[11163 rows x 6 columns]

## ridi user df

In [20]:
ridiuser_df['ratings'] = ridiuser_df['ratings'].apply(lambda x : int(x))
ratings_matrix=ridiuser_df.pivot_table('ratings',index='user id', columns = 'title')

In [21]:
ratings_matrix

title,100배 주식,10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,10인 이하 회사를 경영하는 법,150년 하버드 글쓰기 비법,1日 1行의 기적,1만 시간의 재발견,1분 과학,1분 전달력,1인 기업을 한다는 것,1일 3분 1공시,...,화성남자와 금성여자를 넘어서,화폐혁명,환율의 미래,회사 말고 내 콘텐츠,횡설수설하지 않고 정확하게 설명하는 법,후흑학,훌륭한 관리자의 평범한 습관들,"훔쳐라, 아티스트처럼",힘 있는 글쓰기,힘든 시대를 위한 좋은 경제학
user id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
ratings_matrix.fillna(0,inplace=True)
ratings_matrix.tail()

title,100배 주식,10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,10인 이하 회사를 경영하는 법,150년 하버드 글쓰기 비법,1日 1行의 기적,1만 시간의 재발견,1분 과학,1분 전달력,1인 기업을 한다는 것,1일 3분 1공시,...,화성남자와 금성여자를 넘어서,화폐혁명,환율의 미래,회사 말고 내 콘텐츠,횡설수설하지 않고 정확하게 설명하는 법,후흑학,훌륭한 관리자의 평범한 습관들,"훔쳐라, 아티스트처럼",힘 있는 글쓰기,힘든 시대를 위한 좋은 경제학
user id,,,,,,,,,,,,,,,,,,,,,
2959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
ratings_matrix = ratings_matrix.reset_index()

In [24]:
ratings_matrix.tail()

title,user id,100배 주식,10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,10인 이하 회사를 경영하는 법,150년 하버드 글쓰기 비법,1日 1行의 기적,1만 시간의 재발견,1분 과학,1분 전달력,1인 기업을 한다는 것,...,화성남자와 금성여자를 넘어서,화폐혁명,환율의 미래,회사 말고 내 콘텐츠,횡설수설하지 않고 정확하게 설명하는 법,후흑학,훌륭한 관리자의 평범한 습관들,"훔쳐라, 아티스트처럼",힘 있는 글쓰기,힘든 시대를 위한 좋은 경제학
2959,2959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2960,2960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2961,2961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2962,2962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2963,2963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
my_id = 2963

# 도서 사이의 유사도 산출

In [26]:
ratings_matrix_T = ratings_matrix.transpose()
ratings_matrix_T.head(3)

,0,1,2,3,4,5,6,7,8,9,...,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963
title,,,,,,,,,,,,,,,,,,,,,
user id,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,2954.0,2955.0,2956.0,2957.0,2958.0,2959.0,2960.0,2961.0,2962.0,2963.0
100배 주식,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
ratings_matrix_T.shape

(737, 2964)

### 코사인 유사도

In [28]:
from sklearn.metrics.pairwise import cosine_similarity
item_sim = cosine_similarity(ratings_matrix_T, ratings_matrix_T)

# cosine_similarity() 로 반환된 넘파이 행렬을 영화명을 매핑하여 DataFrame으로 변환
item_sim_df = pd.DataFrame(data=item_sim, index=ratings_matrix.columns,
                          columns=ratings_matrix.columns)
print(item_sim_df.shape)
item_sim_df.head(3)

(737, 737)

title,user id,100배 주식,10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,10인 이하 회사를 경영하는 법,150년 하버드 글쓰기 비법,1日 1行의 기적,1만 시간의 재발견,1분 과학,1분 전달력,1인 기업을 한다는 것,...,화성남자와 금성여자를 넘어서,화폐혁명,환율의 미래,회사 말고 내 콘텐츠,횡설수설하지 않고 정확하게 설명하는 법,후흑학,훌륭한 관리자의 평범한 습관들,"훔쳐라, 아티스트처럼",힘 있는 글쓰기,힘든 시대를 위한 좋은 경제학
title,,,,,,,,,,,,,,,,,,,,,
user id,1.000000,0.043545,0.050769,0.023238,0.042509,0.041687,0.06451,0.002448,0.04244,0.017618,...,0.035759,0.016673,0.06472,0.055387,0.026111,0.030018,0.047544,0.034365,0.042977,0.012291
100배 주식,0.043545,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,0.050769,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [29]:
item_sim_df

title,user id,100배 주식,10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,10인 이하 회사를 경영하는 법,150년 하버드 글쓰기 비법,1日 1行의 기적,1만 시간의 재발견,1분 과학,1분 전달력,1인 기업을 한다는 것,...,화성남자와 금성여자를 넘어서,화폐혁명,환율의 미래,회사 말고 내 콘텐츠,횡설수설하지 않고 정확하게 설명하는 법,후흑학,훌륭한 관리자의 평범한 습관들,"훔쳐라, 아티스트처럼",힘 있는 글쓰기,힘든 시대를 위한 좋은 경제학
title,,,,,,,,,,,,,,,,,,,,,
user id,1.000000,0.043545,0.050769,0.023238,0.042509,0.041687,0.06451,0.002448,0.04244,0.017618,...,0.035759,0.016673,0.064720,0.055387,0.026111,0.030018,0.047544,0.034365,0.042977,0.012291
100배 주식,0.043545,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,0.050769,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10인 이하 회사를 경영하는 법,0.023238,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
150년 하버드 글쓰기 비법,0.042509,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
후흑학,0.030018,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
훌륭한 관리자의 평범한 습관들,0.047544,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.147514,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
"훔쳐라, 아티스트처럼",0.034365,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.185875,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
힘 있는 글쓰기,0.042977,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.182438,0.000000,0.054157,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
힘든 시대를 위한 좋은 경제학,0.012291,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000

In [30]:
item_sim_df.columns

Index(['user id', '100배 주식',
       '10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?', '10인 이하 회사를 경영하는 법',
       '150년 하버드 글쓰기 비법', '1日 1行의 기적', '1만 시간의 재발견', '1분 과학', '1분 전달력',
       '1인 기업을 한다는 것',
       ...
       '화성남자와 금성여자를 넘어서', '화폐혁명', '환율의 미래', '회사 말고 내 콘텐츠',
       '횡설수설하지 않고 정확하게 설명하는 법', '후흑학', '훌륭한 관리자의 평범한 습관들', '훔쳐라, 아티스트처럼',
       '힘 있는 글쓰기', '힘든 시대를 위한 좋은 경제학'],
      dtype='object', name='title', length=737)

In [31]:
item_sim_df["오리지널스"].sort_values(ascending=False)[:6]

title
오리지널스                  1.000000
그릿: 100쇄 기념 리커버 에디션    0.176701
인지니어스                  0.149293
좋아 보이는 것들의 비밀          0.141209
user id                0.135404
마케터의 일                 0.130622
Name: 오리지널스, dtype: float64

- 내가 너무 많은 책들을 읽었다... 데이터가 오염됬어 (A책 평가 3개 중 1개(내 평가) 이면 내 76개의 평가에 영향을 크게 받음)
    - 희소행렬의 본질적 문제

## 아이템 기반 인접 이웃 협업 필터링 -> 개인화된 영화 추천

In [32]:
def predict_rating(ratings_arr, item_sim_arr ):
    ratings_pred = ratings_arr.dot(item_sim_arr)/ np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [33]:
ratings_pred = predict_rating(ratings_matrix.values , item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)
print(ratings_pred_matrix.shape)
ratings_pred_matrix.head(3)

(2964, 737)

title,user id,100배 주식,10년 동안 적금밖에 모르던 39세 김 과장은 어떻게 1년 만에 부동산 천재가 됐을까?,10인 이하 회사를 경영하는 법,150년 하버드 글쓰기 비법,1日 1行의 기적,1만 시간의 재발견,1분 과학,1분 전달력,1인 기업을 한다는 것,...,화성남자와 금성여자를 넘어서,화폐혁명,환율의 미래,회사 말고 내 콘텐츠,횡설수설하지 않고 정확하게 설명하는 법,후흑학,훌륭한 관리자의 평범한 습관들,"훔쳐라, 아티스트처럼",힘 있는 글쓰기,힘든 시대를 위한 좋은 경제학
0,0.291871,0.053270,0.170717,0.434977,0.597044,1.252105,0.203377,0.000000,0.238396,0.000000,...,0.122054,0.258971,0.144622,0.360368,0.000000,0.143509,0.034882,0.122063,0.275101,0.135145
1,0.064842,0.008717,0.783647,0.008271,0.005106,0.025707,0.021617,0.000769,0.023736,0.017313,...,0.012069,0.001304,0.046664,0.054989,0.011210,0.010001,0.013974,0.010631,0.004821,0.003027
2,0.092867,0.017435,0.061949,0.228034,0.010213,0.014701,0.016137,0.001537,0.008955,0.034626,...,0.024139,0.002607,0.026647,0.034939,0.022419,0.020002,0.027948,0.021262,0.027460,0.210902

## 가중 평점 -> MSE

In [34]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 영화에 대해서만 예측 성능 평가 MSE 를 구함. 
def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

print('아이템 기반 모든 인접 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))

아이템 기반 모든 인접 이웃 MSE:  713101.7133949482

상위 n개의 유사도를 가진 데이터에 대해 예측 평점 계산

In [35]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    # 사용자-아이템 평점 행렬 크기만큼 0으로 채운 예측 행렬 초기화
    pred = np.zeros(ratings_arr.shape)

    # 사용자-아이템 평점 행렬의 열 크기만큼 Loop 수행. 
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 index 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        # 개인화된 예측 평점을 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T) 
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))        
    return pred

In [36]:
ratings_pred = predict_rating_topsim(ratings_matrix.values , item_sim_df.values, n=20)
print('아이템 기반 인접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings_matrix.values ))


# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index= ratings_matrix.index,
                                   columns = ratings_matrix.columns)

아이템 기반 인접 TOP-20 이웃 MSE:  439433.80072634976

## 나의 정보 담은 df 만들기

In [37]:
# book_name = item_sim_df.columns
# len(book_name)
# # my_rating_df = pd.DataFrame(columns = book_name)
# # my_rating_df.to_csv('my_rating.csv',encoding='utf-8-sig',index=False)
# my_rating_df= pd.read_csv('my_rating.csv',encoding='utf-8-sig')
# my_rating_df = my_rating_df.fillna(0)
# my_rating_df

In [38]:
# my_rating_df.info()

In [40]:
user_rating_id = ratings_matrix.iloc[2963, :]
user_rating_id[ user_rating_id > 0].sort_values(ascending=False)[:10]
# user_rating_id.sort_values(ascending=False)[:10]

title
user id         2963.0
나는 왜 혼자가 편할까       4.0
Name: 2963, dtype: float64

## **사용자가 관람하지 않은 영화 중에서 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천**

In [41]:
def get_unseen_movies(ratings_matrix, userId):
    # userId로 입력받은 사용자의 모든 영화정보 추출하여 Series로 반환함. 
    # 반환된 user_rating 은 영화명(title)을 index로 가지는 Series 객체임. 
    user_rating = ratings_matrix.loc[userId,:]
    
    # user_rating이 0보다 크면 기존에 관람한 영화임. 대상 index를 추출하여 list 객체로 만듬
    already_seen = user_rating[ user_rating > 0].index.tolist()
    
    # 모든 영화명을 list 객체로 만듬. 
    movies_list = ratings_matrix.columns.tolist()
    
    # list comprehension으로 already_seen에 해당하는 movie는 movies_list에서 제외함. 
    unseen_list = [ movie for movie in movies_list if movie not in already_seen]
    
    return unseen_list

**아이템 기반 유사도로 평점이 부여된 데이터 세트에서 해당 사용자가 관람하지 않은 영화들의 예측 평점이 가장 높은 영화를 추천**

In [42]:
def recomm_movie_by_userid(pred_df, userId, unseen_list, top_n=10):
    # 예측 평점 DataFrame에서 사용자id index와 unseen_list로 들어온 영화명 컬럼을 추출하여
    # 가장 예측 평점이 높은 순으로 정렬함. 
    recomm_movies = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_movies
    
# 사용자가 관람하지 않는 영화명 추출   
unseen_list = get_unseen_movies(ratings_matrix, 2963)

# 아이템 기반의 인접 이웃 협업 필터링으로 영화 추천 
recomm_movies = recomm_movie_by_userid(ratings_pred_matrix, 2963, unseen_list, top_n=30)

# 평점 데이타를 DataFrame으로 생성. 
recomm_movies = pd.DataFrame(data=recomm_movies.values,index=recomm_movies.index,columns=['pred_score'])
recomm_movies

                          pred_score
title
미움받을 용기                   227.465141
90년생이 온다                  187.354887
말 그릇                      183.365438
부의 추월차선                   181.849256
자존감 수업                    172.689968
나는 매일 책을 읽기로 했다           165.082940
아주 작은 반복의 힘               163.535378
호모 데우스                    145.311297
엄마, 주식 사주세요(리커버)          137.569517
초격차                       136.503039
표현의 기술                    129.493566
이유 없는 편안함                 128.596475
단 한 권을 읽어도 제대로 남는 메모 독서법  124.401084
돈 공부는 처음이라                124.100212
야밤의 공대생 만화                122.444153
스티브 잡스                    119.559747
레버리지                      118.576363
오리지널스                     117.014617
부의 본능                     111.981592
위험한 과학책                   110.864035
나쓰미의 반딧불이                 109.704180
지금의 조건에서 시작하는 힘           109.557590
나는 농담으로 과학을 말한다           109.445318
그릿: 100쇄 기념 리커버 에디션       104.121573
에버노트 생각서랍 만들기             103.527660
제로 투 원                    103.374877
부자언니 부자특강                 102.478758
트렌드 코리아 2020              101.742214
석유는 어떻게 세계를 지배하는가          99.925467
킵고잉(Keep Going)            96.650979

# Surprise 라이브러리 이용

In [43]:
from surprise import SVD
from surprise import Dataset 
from surprise import accuracy
from surprise.model_selection import train_test_split

In [44]:
from surprise import Reader

reader = Reader(line_format='user item rating timestamp', sep=',', rating_scale=(0.5, 5))
data=Dataset.load_from_df(ridiuser_df,reader=reader)

In [45]:
data

In [60]:
# sur_df.to_csv('result/content/surdf.csv',header=None, encoding='utf-8-sig', index=False)
# sur_df.to_csv('result/content/surdf2.csv',header=None, encoding='utf-8', index=False)

In [47]:
trainset, testset = train_test_split(data, test_size=.25, random_state=0)

In [48]:
trainset

### 행렬분해 SVD 알고리즘

In [49]:
algo = SVD(n_factors=50, random_state=0)
algo.fit(trainset) 
predictions = algo.test( testset )
accuracy.rmse(predictions) # **반환된 Prediction의 리스트 객체를 기반으로 RMSE 평가**

RMSE: 1.0240

1.0240147269563438

**테스트 데이터 세트에 예상 평점 데이터 예측. test()메소드 호출 시 Prediction 객체의 리스트로 평점 예측 데이터 반환**

In [50]:
predictions = algo.test(testset)
print('prediction type :',type(predictions), ' size:',len(predictions))
print('prediction 결과의 최초 5개 추출')
predictions[:5]

prediction type : <class 'list'>  size: 2791
prediction 결과의 최초 5개 추출

[Prediction(uid=2342, iid='부의 추월차선', r_ui=5.0, est=4.2553829500469, details={'was_impossible': False}),
 Prediction(uid=2075, iid='오리지널스', r_ui=5.0, est=4.445479914331568, details={'was_impossible': False}),
 Prediction(uid=162, iid='자존감 수업', r_ui=5.0, est=4.330311785546928, details={'was_impossible': False}),
 Prediction(uid=1181, iid='미국 배당주 투자지도', r_ui=4.0, est=3.9215250979430274, details={'was_impossible': False}),
 Prediction(uid=2594, iid='나는 매일 책을 읽기로 했다', r_ui=5.0, est=3.7318757095747084, details={'was_impossible': False})]

In [51]:
[ (pred.uid, pred.iid, pred.est) for pred in predictions[:3] ]

[(2342, '부의 추월차선', 4.2553829500469),
 (2075, '오리지널스', 4.445479914331568),
 (162, '자존감 수업', 4.330311785546928)]

**predict()메소드는 개별 사용자,아이템에 대한 예측 평점 정보를 반환**

In [52]:
# 사용자 아이디, 아이템 아이디는 문자열로 입력해야 함. 
uid = str(196)
iid = str(302)
pred = algo.predict(uid, iid)
print(pred)

user: 196        item: 302        r_ui = None   est = 4.20   {'was_impossible': False}

### 교차 검증(Cross Validation)과 하이퍼 파라미터 튜닝

**cross_validate()를 이용한 교차 검증**

In [53]:
from surprise.model_selection import cross_validate 

algo = SVD(random_state=0) 
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0299  0.9919  1.0101  0.9874  0.9961  1.0031  0.0154
MAE (testset)     0.7527  0.7454  0.7505  0.7320  0.7435  0.7448  0.0072
Fit time          0.48    0.47    0.47    0.46    0.46    0.47    0.01
Test time         0.01    0.01    0.01    0.01    0.01    0.01    0.00

{'test_rmse': array([1.02987107, 0.9919168 , 1.01014294, 0.98737102, 0.99613502]),
 'test_mae': array([0.75273302, 0.74540655, 0.75054322, 0.73198753, 0.74346721]),
 'fit_time': (0.4824395179748535,
  0.4684262275695801,
  0.47343969345092773,
  0.4624347686767578,
  0.46441030502319336),
 'test_time': (0.013012409210205078,
  0.014014005661010742,
  0.013011932373046875,
  0.013011932373046875,
  0.013011455535888672)}

Gridsearch CV 이용

In [54]:
from surprise.model_selection import GridSearchCV

# 최적화할 파라미터들을 딕셔너리 형태로 지정. 
param_grid = {'n_epochs': [20, 40, 60], 'n_factors': [50, 100, 200] }

# CV를 3개 폴드 세트로 지정, 성능 평가는 rmse, mse 로 수행 하도록 GridSearchCV 구성
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3,refit=True)
gs.fit(data)

# 최고 RMSE Evaluation 점수와 그때의 하이퍼 파라미터
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.9689132851134424
{'n_epochs': 60, 'n_factors': 200}